<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_header.html -->
	<!-- INCLUDE memberlist_search.html -->
	<form method="post" id="results" action="{S_MODE_ACTION}" onsubmit="insert_marked_users('#results', this.user); return false;" data-form-name="{S_FORM_NAME}" data-field-name="{S_FIELD_NAME}">

<!-- ELSE -->
	<!-- INCLUDE overall_header.html -->
	<div class="panel" id="memberlist_search"<!-- IF not S_SEARCH_USER --> style="display: none;"<!-- ENDIF -->>
	<!-- INCLUDE memberlist_search.html -->
	</div>
	<form method="post" action="{S_MODE_ACTION}">

<!-- ENDIF -->

{% EVENT memberlist_body_page_header_after %}

	<!-- IF S_SHOW_GROUP -->
	<div class="grupkimem">		{% EVENT memberlist_body_group_name_before %}
	<h2 class="group-title"<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR};"<!-- ENDIF -->>{GROUP_NAME}</h2>
	{% EVENT memberlist_body_group_name_after %}
<div class="grupkimem2">
	<p>{GROUP_DESC} {GROUP_TYPE}</p>

		{% EVENT memberlist_body_group_desc_after %}

		<p>
			<!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ENDIF -->
			{% EVENT memberlist_body_group_rank_before %}
			{% if RANK_IMG %}{{ RANK_IMG }}{% endif %}
			{% if GROUP_RANK %}
				{% if not RANK_IMG %}
					{{ lang('GROUP_RANK') ~ lang('COLON') }}
				{% endif %}
				{{ GROUP_RANK }}
			{% endif %}
			{% EVENT memberlist_body_group_rank_after %}
		</p>
	<!-- ELSE -->
		{% EVENT memberlist_body_page_title_before %}

	<div id="memberListsAll">	<div class="action-bar bar-top">
			<div class="member-search panel">
				<!-- IF U_FIND_MEMBER and not S_SEARCH_USER --><a href="{U_FIND_MEMBER}" id="member_search" data-alt-text="{L_HIDE_MEMBER_SEARCH}">{L_FIND_USERNAME}</a> &bull; <!-- ELSEIF S_SEARCH_USER and U_HIDE_FIND_MEMBER and not S_IN_SEARCH_POPUP --><a href="{U_HIDE_FIND_MEMBER}" id="member_search" data-alt-text="{L_FIND_USERNAME}">{L_HIDE_MEMBER_SEARCH}</a> &bull; <!-- ENDIF -->
				<strong>
				<!-- BEGIN first_char -->
					<a href="{first_char.U_SORT}">{first_char.DESC}</a>&nbsp;
				<!-- END first_char -->
				</strong>
			</div>

		</div></div>
	<!-- ENDIF -->

	<!-- IF S_LEADERS_SET or not S_SHOW_GROUP or not .memberrow -->
	<div class="forumbg forumbg-table memberListsAll_Back">
		<div class="inner">

			<table class="table1 memberlist" id="memberlist" style="display: none">
							<tbody>
	<!-- ENDIF -->
		<!-- BEGIN memberrow -->
			<!-- IF S_SHOW_GROUP -->
				<!-- IF not memberrow.S_GROUP_LEADER and not $S_MEMBER_HEADER -->
				<!-- IF S_LEADERS_SET and memberrow.S_FIRST_ROW -->

				<!-- ENDIF -->
<!-- IF S_LEADERS_SET -->
				</tbody>
				</table>

	</div>
</div>
<!-- ENDIF -->
<div class="forumbg forumbg-table">
	<div class="inner">

		<!-- DEFINE $S_MEMBER_HEADER = 1 -->
						<!-- ENDIF -->
					<!-- ENDIF -->
		<div id="memberlist">

					<div class="memberlistIKONKI" style="background: {memberrow.USER_COLOR}">
					<a href="{memberrow.PROFILE_KARTA_VALUE_RAW}" title="karta postaci"><div class="memberlistKP"><i class="ph-duotone ph-graduation-cap" style="color: {memberrow.USER_COLOR}"></i></div></a>
					<a href="{memberrow.PROFILE_RELACJE_VALUE_RAW}" title="relacje"><div class="memberlistREL"><i class="ph-duotone ph-heart"  style="color: {memberrow.USER_COLOR}"></i></div></a>
					</div>

					<div class="memberlistAv" style="background: {memberrow.USER_COLOR}; border-color: {memberrow.USER_COLOR}">{memberrow.AVATAR_IMG}</div>

					<div class="memberlistPOSTY"><div class="memberlistPOSTY1" style="color: {memberrow.USER_COLOR}">{memberrow.POSTS}</div> <div class="memberlistPOSTY2">liczba postów</div></div>
					<div class="memberlistIMIE"><!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE --><input type="checkbox" name="user" value="{memberrow.USERNAME}" /> <!-- ENDIF --><!-- EVENT memberlist_body_username_prepend -->{memberrow.USERNAME_FULL}<!-- IF memberrow.S_INACTIVE --> ({L_INACTIVE})<!-- ENDIF --><!-- EVENT memberlist_body_username_append --><!-- IF S_IN_SEARCH_POPUP --><br /><a class = "wybierzMember" href="#" onclick="insert_single_user('#results', '{memberrow.A_USERNAME}'); return false;">{L_SELECT}</a><!-- ENDIF --></div>
					<div class="memberlistACTIVE">{L_LAST_ACTIVE} &nbsp;{memberrow.LAST_ACTIVE}</div>
					</div>
		{% EVENT memberlist_body_memberrow_after %}
		<!-- BEGINELSE -->
	<div class="bg1">
		{L_NO_MEMBERS}
	</div>
	<!-- END memberrow -->

	</div>
</div></div></div>

<!-- IF S_IN_SEARCH_POPUP and not S_SELECT_SINGLE -->
<fieldset class="display-actions">
	<input type="submit" name="submit" value="{L_SELECT_MARKED}" class="button2" />
	<div><a href="#" onclick="marklist('results', 'user', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('results', 'user', false); return false;">{L_UNMARK_ALL}</a></div>
</fieldset>
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP -->
</form>
<form method="post" id="sort-results" action="{S_MODE_ACTION}">
<!-- ENDIF -->

<!-- IF S_IN_SEARCH_POPUP and not S_SEARCH_USER -->
<fieldset class="display-options">
	<label for="sk">{L_SELECT_SORT_METHOD}{L_COLON} <select name="sk" id="sk">{S_MODE_SELECT}</select></label>
	<label for="sd">{L_ORDER} <select name="sd" id="sd">{S_ORDER_SELECT}</select></label>
	<input type="submit" name="sort" value="{L_SUBMIT}" class="button2" />
</fieldset>
<!-- ENDIF -->

</form>

<div class="action-bar bar-bottom">
	<div class="pagination">
		{TOTAL_USERS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			 &bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>

{% EVENT memberlist_body_page_footer_before %}

<!-- IF S_IN_SEARCH_POPUP -->
	<!-- INCLUDE simple_footer.html -->
<!-- ELSE -->
	<!-- INCLUDE jumpbox.html -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
